* body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

nav > a:hover {
  background: slategrey;
}

ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 0;
}

li {
  list-style-type: none;
  padding-top: 10px;
}

nav {
  background: lightslategrey;
  height: 30%;
  width: 100%
}

.filter-options {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  padding-right: 8px;
}

.filter-options > input {
  height: 25px;
  margin-right: 5px;
  padding-left: 5px;
}

.filter-options > button {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(254px, auto);
  grid-gap: 1em;
  text-align: center;
  margin-top: 2em;
}