* body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 0;
  }
  
  ul > li {
    padding-top: 10px;
    list-style-type: none;
  }
  
  ul > li > a:hover {
    background: slategrey;
  }
  
  nav {
    background: lightslategrey;
    height: 30%;
    width: 100%
  }

  .tldr {
    font-size: 18px;
  }

  .review {
    margin: 0 1em;
  }